
header {
    padding: 16px 16px 0 16px;
    height: 55px;
    width: 100%;
}
.back{
    width: 100%;
     
}
.back img{
    width: 75%;
    /* height: 28%; */
    position: absolute;
    right:0;
    z-index: -1;
}
header .wrap {
    display: flex;
    justify-content: space-between;

}
header .wrap h1  {
    width: 5rem;/*80px*/
}
header .wrap h1 a {}
header .wrap h1 a img {
    width: 100%;
    vertical-align: top;
}
header .wrap .h_txt  {}
header .wrap .h_txt p  {
    color: #fff;
    font-weight: 300;
}
.banner {
    padding: 16px 16px 0 16px;
}
.banner .title {}
.banner .title h2  {
    font-weight: 800;
    font-size: 1.125rem;/*18px*/
    color: #333;
}
.banner .title h2 span {
    color: #F15A22;
}
.banner .title p {
    color: #6D6E71;
}
.banner .con {
    margin-top: 40px;/*위치수정*/
}
.banner .con  .item{}
.banner .con  .moc{
    width: 100%;
}
.banner .con  .moc .pic{
    width: 280px;
    margin: 0 auto;
}
.banner .con  .moc .pic img{
    width: 100%;
}
.banner .con  .sub{}
.banner .con  .sub .txt{}
.banner .con  .sub .txt li{
    display: flex;
    margin-bottom: 10px;    
}
.banner .con  .sub .txt li:last-child{
    margin-bottom: 10px;    
}
.banner .con  .sub .txt li h4{}
.banner .con  .sub .txt li span{
    padding-left: 50px;
}
.banner .con  .sub .txt .key{}
.banner .con  .sub .txt .tool{}
.banner .con  .sub .txt .tool span {
}
.banner .con  .sub .txt .tool span img {
    width: 80%;
}
.banner .con  .sub .arrow01 {
    display:block;
    text-align: center;
    margin-top: 45px;
    margin:20px auto 0;
    padding:12px 28px;
    border: 1.5px solid #F15A22;
    border-radius: 12px;
    transition: background-color .3s;
    
}
.banner .con  .sub .arrow01 span {
    color: #F15A22;
    font-size: 1.375rem;/*22px*/
    font-weight: 500;
}
.banner .con  .sub .arrow01:hover {
    background-color: #F15A22;
}
.banner .con  .sub .arrow01:hover span {
    color: #fff;
}
section {
    padding: 0 16px;
}
section h2 {
    color: #F15A22;
    font-size: 1.5rem;
    margin-bottom: 16px;
}

.section1 {
    margin-top: 62px;
}
.section1 .row1 {}
.section1 .row1 .con{
    display: flex;
    justify-content: space-between;
 
  
}
.section1 .row1 .con .item{
   height: auto;
   width: calc(50% - 8px);
}
.section1 .row1 .con .box{
   padding: 20px 0;
   background-color: #fff1ec;
   border-radius: 8px;
}
.section1 .row1 .con .box .box_inner{

}
.section1 .row1 .con .box .box_inner .air{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1 .row1 .con .box .box_inner .air img{
    width: 60%;
}
.section1 .row1 .con .txt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    text-align: center;
}
.section1 .row1 .con .txt p{
    color: #666;
    position: relative;
}
.section1 .row1 .con .txt>p::after{
    content: "";
    display: block;
    /* margin: 0 auto; */
    position: absolute;
    top:200%;
    left:50%;
    transform: translateX(-50%);
    width: 0.75rem;
    height: 0.75rem;
    transform: rotate(45deg);
    border-bottom: 2px solid #F15A22;
    border-right: 2px solid #F15A22;
}
.section1 .row1 .con .txt .tit{
   
}
.section1 .row1 .con .txt .tit p{
    
}
.section1 .row1 .con .txt .tit h3{
    color: #333;
    padding-top: 2x;
    /* text-wrap: nowrap; */
    font-size: 1rem;
}
.section1 .row1 .con .txt .tit h3 span{
    background-color: #F15A22;
    padding: 0 4px;
    font-weight: 600;
    color: #fff;
}
.section1 .row2 {
    margin-top: 32px;
}
.section1 .row2 h3 {
    padding-bottom: 16px;
}
.section1 .row2 .con,.section1 .row2 .con2{
    padding: 20px;
    background-color: #eee;
    border-radius: 8px;
    margin-bottom: 16px;
    list-style: disc;
    /* list-style: disc; */
}
.section1 .row2 .con li{
    text-align: center;
    padding-bottom: 8px;
    color: #888;
    width: 140px;
    margin: 0 auto;
    
}
.section1 .row2 .con li:last-child{
    padding-bottom: 0;
}
.section1 .row2 .con2 p {
    color: #999;
}