@media all and (min-width:1200px){
  html {
    font-size: 20px;
  }
  .back img{
    width: 70%;
    /* height: 28%; */
    position: absolute;
    right:0;
    z-index: -1;
  }
  .banner {
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 130px;
  }
  .banner .title {
    position: relative;
    top:100px;

  }
  .banner .title h2{
    font-size: 3.3rem/*60px*/;
    font-weight: 900;
  }
  .banner .title p {
    font-size: 1.25rem;
  }
  .banner .con {
    margin-top: 0;
    display: flex;
    flex-direction: row-reverse;
  }
  .banner .con  .moc {
  }
  .banner .con  .moc .pic{
    width: 694px;
    /* margin: 0 auto; */
    margin-left:auto ;
    margin-right: 30px;
  }
  .banner .con .sub {
    align-self: flex-end;
    margin-bottom: 80px;
  }
  .banner .con .sub .web {
    border-radius: 60px;
  }

  section .main_title {
    margin-bottom: 44px;
}
/* main_title */
.section1 .sub_title {
    padding-bottom: 32px;
}
/* sub_title */
  .section1{
    max-width: 1440px;
    margin:  0 auto;
  }
  .section1 .row1 {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 130px;
   padding-bottom: 130px;
  }
  .section1 .row1 .con {
    display: flex;
    justify-content: space-between;
  }
  .section1 .row1 .con .item{
    /* width: calc((100% - 300px)/2); */
  }
  .section1 .row1 .con  .box{width: calc((100% - 200px) * 0.45);}
  .section1 .row1 .con  .txt{width: calc((100% - 200px) * 0.55);}

  .section1 .row2 .con, .section1 .row3 .con{
    padding: 20px;
    /* background-color: #eee; */
    border-radius: 8px;
    margin-bottom: 16px;
    list-style: disc;
    display: flex;
    /* list-style: disc; */
}
.section1 .row3 .con {
  
}

.section1 .row2 .con li, .section1 .row3 .con li{
  width: auto;
  }

  .section1 .row2 .con2 p{
    text-align: center;
  }
  .section1 .row3 .con2 p span{
    font-size: 1.125rem;
  }

}/*pc 끝 */